.wrapper {
  display: flex;
  height: 100vh;
}

.sidebar {
  min-width: 15rem;
  background-color: var(--theme-primary-color);
  flex: 0 0 20%;
}

.content {
  background-color: var(--theme-secondary-color);
  flex: 1 1;
}

