.removeButton {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.25s linear;

  min-width: 1.5rem;
  min-height: 1.5rem;
  background-color: var(--orange-color);
  border-radius: 50%;
}

.removeButton:hover {
  transform: scale(1.1);
  background-color: var(--lighten-orange-color);
}

.removeButton:active {
  opacity: 0.8;
}