.tabContainer {
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
  padding: 0.5rem;
  border-radius: 0.25rem;

  transition: all 0.15s linear;
}

.tabContainer:hover {
  background-color: var(--theme-secondary-color);
}

.tabContainer:active {
  opacity: 0.8;
}

.tab {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  overflow: hidden;
}

/* Active */
.tabContainer.active {
  color: var(--orange-color);
  background-color: var(--theme-secondary-color);
}

.tabContainer.active:hover {
  background-color: var(--theme-secondary-color);
}

.tabContainer.active:active {
  opacity: 1;
}

.text {
  font-size: 1.1rem;
  font-weight: 500;
  user-select: none;
  overflow: hidden;
  text-overflow: ellipsis;
}
