.tab {
  cursor: pointer;

  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem;
  border-radius: 0.25rem;

  font-size: 1.25rem;
  font-weight: 500;

  transition: all 0.15s linear;
}

.tab:hover {
  background-color: var(--theme-secondary-color);
}

.tab:active {
  opacity: 0.8;
}

.tab.active {

}

