.taskPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
}

.noTasks {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.noTasks__title {
  font-size: 3rem;
  font-weight: 700;
  color: var(--gray-color);
}